body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 20px;
    font-size: 14px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: 20px auto;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    position: relative;
}

.board {
    display: grid;
    grid-gap: 5px;
    width: 340px;
    height: 340px;
    padding: 5px;
    border: 2px solid #f09b1c;
    grid-template-columns: repeat(4, 80px);
}

.sideboard {
    display: grid;
    gap: 5px;
    width: 170px;
    height: 340px;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(4, 80px);
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card, .placeholder {
    width: 80px;
    height: 80px;
    border: 1px solid #5f5e5e;
    background-color: #fff;
    transition: all 0.2s;
}

.card {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: none;
}

.card.is-dragging {
    opacity: 0.5;
    z-index: 1000;
}

.placeholder {
    border: 2px solid #5f5e5e;  /* Adjusted border */
    border-radius: 5px;  /* Added rounded corners */
    background-color: #f5f5f5;  /* Lighter background color */
}

/* Landscape Layout */
@media screen and (min-width: 600px) {
    .board-container {
        flex-direction: row;
    }
}

/* Portrait Layout */
@media screen and (max-width: 599px) {
    .board-container {
        flex-direction: column;
    }

    .sideboard {
        width: 340px;
        height: 170px;
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(2, 80px);
    }

    .board {
        margin: 20px 0;
    }
}