body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 20px;
    font-size: 14px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: 20px auto;
}

.board, .unshuffled {
    display: grid;
    grid-gap: 5px;
    width: 340px;
    height: 340px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
    position: relative;
}

.board {
    grid-template-columns: repeat(4, 80px);
}

.card,
.placeholder {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: all 0.2s;
}

.card {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: none;
}

.card.is-dragging {
    opacity: 0.5;
    z-index: 1000;
}

.game {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.info, .unshuffled {
    width: 420px;
}

@media (orientation: landscape) {
    .game {
        flex-direction: row;
    }

    .board {
        margin: 0 20px;
    }

    .unshuffled {
        grid-template-columns: repeat(2, 80px);
        grid-auto-rows: auto;
        width: 170px;
    }
}

@media (orientation: portrait) {
    .unshuffled {
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-gap: 5px;
        justify-content: center;
        width: 420px;
    }
    .unshuffled.left,
    .unshuffled.right {
        justify-items: start;
    }
}

@media (max-aspect-ratio: 1/1) {
    .game {
        flex-direction: column;
    }

    .board {
        margin: 20px 0;
    }
}
